@import '../../_css/type.scss';

.button {
  border: none;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  background-color: transparent;
  text-decoration: none;
  display: inline-flex;
  padding: 10px 24px;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  border-radius: 10px;
}

.content {
  display: flex;
  align-items: center;
  justify-content: space-around;

  svg {
    margin-right: calc(var(--base) / 2);
    width: var(--base);
    height: var(--base);
  }
}

.label {
  @extend %label;
  text-align: center;
  display: flex;
  align-items: center;
}

.appearance--primary {
  background-color: var(--theme-primary); 
  color: var(--theme-bg);                 // Cosmic Latte text for contrast
}

.appearance--primary:hover {
  background-color: var(--color-china-rose);
   color: var(--theme-bg);  // China Rose
}

.appearance--secondary {
  background-color: var(--color-china-rose); // Cherry Blossom
  color: var(--theme-bg);              // English Violet text
}

.appearance--secondary:hover {
  background-color: var(--color-english-violet); 
  color: var(--theme-bg); // China Rose
}

.primary--invert {
  background-color: var(--theme-elevation-0);
  color: var(--theme-elevation-1000);
}

.secondary--invert {
  background-color: var(--theme-elevation-1000);
  box-shadow: inset 0 0 0 1px var(--theme-elevation-0);
}

.appearance--default {
  padding: 0;
  color: var(--theme-text);
}

.appearance--none {
  padding: 0;
  color: var(--theme-text);

  &:local() {
    .label {
      text-transform: none;
      line-height: inherit;
      font-size: inherit;
    }
  }
}

// Shop Now button
.shopNow {
  background: var(--button-shopnow-bg);
  color: var(--button-shopnow-text);
  border: none;

  &:hover {
    background: var(--button-shopnow-hover-bg);
    color: var(--button-shopnow-hover-text);
    
  }
}

// View on GitHub button
.github {
  background: var(--button-github-bg);
  color: var(--button-github-text);
  border: none;

  &:hover {
    background: var(--button-github-hover-bg);
    color: var(--button-github-hover-text);
  }
}

// Login button
.login {
  background: var(--button-login-bg);
  color: var(--button-login-text);
  border: none;

  &:hover {
    background: var(--button-login-hover-bg);
    color: var(--button-login-hover-text);
  }
}
